

@using (Ajax.BeginForm("SaveBookToDb", "Home", new AjaxOptions { UpdateTargetId = "formWrapper", InsertionMode = InsertionMode.Replace }))
{
    <div id="formWrapper">sda</div>
    @Html.TextBox("title")
    <button>Save</button>
}